.SeriesDetailContainer {
    display: flex;
    justify-content: center;
}

.volver-button {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.formEdit {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.editDialog {}