.Formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    width: auto;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mb2 {
    max-width: 200px;
    min-height: 100px;
}

#outlined-basic {
    width: 230px;
}

.CreateComponent {
    display: flex;
    flex-direction: row;
    width: auto;
}

.imageContainer {
    width: 60%;
}

.imageDragon {
    height: 600px;
    width: max-content;
}


/* @media (min-witdh: 1020px) {
    .imageContainer {
        display: none
    }
    .CreateComponent {
        flex-direction: column;
    }
} */

@media screen and (max-width: 480px) {
    .imageDragon {
        display: none;
    }
    .imageContainer {
        display: none;
    }
}